# 必ず守ること

- コードコメントは日本語で 既存のコードコメントは指示がない限り変えないこと
- interfaceではなくtypeで型定義すること

# ライブラリ概要

- 言語: TypeScript
- lint: biome
- nodejs v22

# コマンド実行例

```
node --import tsx --env-file .env --watch ./src/scripts/hello.ts
```
